.createNoteBox {
    width: 0;
    max-width: 95%;
    margin: 20px auto;
    transition: all 250ms;
    opacity: 0;

    &.active {
        width: 800px;
        opacity: 1;
    }
}
.createNoteFooter {
	margin: 20px 0;
	gap: 25px;
	display: flex;
	justify-content: end;
	padding-top: 15px;
}
.createNoteForm {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}