.createNoteBox {
    width: 800px;
    height: 0;
    overflow-y: hidden;
    max-width: 95%;
    margin: 20px auto;
    transition: all 250ms;
    opacity: 0;

    &.active {
        height: 400px;
        opacity: 1;
    }
}
.noteFormTitle {
	background-color: #444;
	height: 35px;
	color: white;
	font-size: 16px;
	padding-top: 10px;
	padding-left: 10px;
}
.createNoteFooter {
	margin: 20px 0;
	gap: 25px;
	display: flex;
	justify-content: end;
	padding-top: 15px;
}
.createNoteForm {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}