.createNoteBox {
    width: 800px;
    height: 0;
    overflow-y: hidden;
    max-width: 95%;
    margin: 20px auto;
    transition: all 250ms;
    opacity: 0;

    &.active {
        height: 400px;
        opacity: 1;
    }
}

.guestView {
	width: 800px;
	background: white;
	height: 250px;
	margin: 50px auto;
	border: 1px solid #888;
	padding: 20px;
	box-sizing: border-box;
	max-width: 100%;
	text-align: center;
	border-radius: 5px;
	box-shadow: -2px 2px 4px #999;
}

.noteFormTitle {
	background-color: #338663;
	height: 35px;
	color: white;
	font-size: 16px;
	padding-top: 10px;
	padding-left: 10px;
}
.createNoteFooter {
	margin: 20px 0;
	gap: 25px;
	display: flex;
	justify-content: end;
	padding-top: 15px;
}
.createNoteForm {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}
.paginate {
	margin-top: 20px;
	text-align: center;
}